.page {
  max-width: 880px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
}