.popup__container_type_image {
  width: auto;
  max-width: 75vw;
  max-height: 75vh;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}