.popup__form-submit {
  width: 100%;
  color: #fff;
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 28px;
  transition: all .2s linear;
  cursor: pointer;
}

.popup__form-submit:hover {
  opacity: .8;
}

.popup__form-submit:active {
  opacity: .5;
}

.popup__form-submit:focus {
  outline: none;
  box-shadow: 1px 1px 10px #000;
}

@media screen and (max-width: 570px) {
  .popup__form-submit {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}