@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__job/profile__job.css');
@import url('../blocks/profile/__button-edit/profile__button-edit.css');
@import url('../blocks/profile/__button-add/profile__button-add.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__list/elements__list.css');
@import url('../blocks/elements/__list-item/elements__list-item.css');
@import url('../blocks/elements/__button-remove/elements__button-remove.css');
@import url('../blocks/element/element.css');
@import url('../blocks/element/__image/element__image.css');
@import url('../blocks/element/__caption/element__caption.css');
@import url('../blocks/element/__title/element__title.css');
@import url('../blocks/element/__button-like/element__button-like.css');
@import url('../blocks/element/__button-like/_active/element__button-like_active.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/_type/popup_type_image.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__close/popup__close.css');
@import url('../blocks/popup/__container/_opened/popup__container_opened.css');
@import url('../blocks/popup/__container/_type/popup__container_type_image.css');
@import url('../blocks/popup/__form-title/popup__form-title.css');
@import url('../blocks/popup/__form-input/popup__form-input.css');
@import url('../blocks/popup/__form-input/_error/popup__form-input_error.css');
@import url('../blocks/popup/__form-input-error/popup__form-input-error.css');
@import url('../blocks/popup/__form-submit/popup__form-submit.css');
@import url('../blocks/popup/__form-submit/_disabled/popup__form-submit_disabled.css');
@import url('../blocks/popup/__image/popup__image.css');
@import url('../blocks/popup/__image-wrapper/popup__image-wrapper.css');
@import url('../blocks/popup/__image-caption/popup__image-caption.css');
