.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: 0;
  padding: 0;
  background-color: initial;
  background-image: url('../../../images/edit__button-close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .2s linear;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

.popup__close:active {
  opacity: .3;
}

@media screen and (max-width: 570px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}