.popup__form-input {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 9px;
  margin-bottom: 5px;
}

.popup__form-input:focus {
  border-color: #00f;
  outline: none;
}