.elements__list-item {
  position: relative;
  transition: transform .2s ease-out;
}

.elements__list-item:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 767px) {
  .elements__list-item:hover {
    transform: none;
  }
}