.popup__form-submit_disabled {
  color: #000;
  background-color: transparent;
  border: 1px solid #000;
  opacity: .2;
  cursor: default;
}

.popup__form-submit:hover {
  opacity: .2;
}

.popup__form-submit:active {
  opacity: .2;
}