.header {
  max-width: 100%;
  padding-top: 45px;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin-bottom: 40px;
}

@media screen and (max-width: 980px) {
  .header {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}