.element__button-like {
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: 0;
  background-image: url('../../../images/element__button-like.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all .2s linear;
  padding: 0;
}

.element__button-like:hover {
  opacity: .5;
}